*{
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: 'Montserrat';
  /* border: thin solid red; */
  /* font-size: 1em; */
}

:root {
  --clr-neutral: #F5F5F5;
  --clr-accent:#CD3301;
  --clr-primary: #DCA422;
  --clr-secondary: #E5B24E;
  --padding-main: 10%;
}

.nav{
  background-color: var(--clr-primary);
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
}
.nav-flex{
  display: flex;
  justify-content: space-between;
}
.brand{
  color: var(--clr-neutral);
  text-decoration: none;
  font-weight: bold;
  margin: auto 0rem;
}
.menu-item{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.nav_item{
  padding: 0.5rem 0rem;
}
.nav_link{
  text-decoration: none;
  color: var(--clr-neutral);
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.4rem 1rem;
  text-align: center;
  border: 2px solid var(--clr-neutral);
  border-radius: 5px;
}
.active_link{
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
  border-radius: 5px;
}
 .cont-fluid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .nav-flex{
   grid-column: 1/2; 
  }
  .menu-cont{
    grid-column: 4/4;
    padding-top: 0.6rem;
  }

main {
  position: relative;
  padding-inline: var(--padding-main); 
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
/* 
  background: url(../images/55853.jpg.png);
  background-size: cover; */
}

main::-webkit-scrollbar{
  display: none;
}

.hero-image img {
  width: 100%;
}

form a{
  text-decoration: none;
  color: var(--clr-neutral);
}

main form {
  width: 80%;
  border-radius: 5px;
  max-width: 420px;
  padding: 2.5em 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-color: var(--clr-secondary);
  color: var(--clr-neutral
  );
}

.sign-in-text {
  display: inline-grid;
  justify-items: center;
}


main span {
  text-align: center;
  font-size: .8em;
}

main .input-container {
  display: inline-grid;
  width: 100%;
}

main input {
  width: 100%;
  outline: none;
  border: none;
  height: 3em;
  padding: .7em 1em;
}

.input-fields {
  width: 100%;
  display: inline-grid;
  gap: .8em;
}

label {
  margin-bottom: 5px;
}

main .input-container input {
  border-radius: 3px;
  background-color: var(--clr-neutral);
}

.forgot-password {
  justify-self: end;
  text-decoration: underline;
  font-size: 1em;
}

main form input[type="submit"] {
  width: 100%;
  padding: .5em 1em;
  margin-bottom: 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.19);
  background-color: var(--clr-accent);
  color: var(--clr-neutral);
}
  
.submit-text {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 1rem;
}

.submit-text a {
  color: var(--clr-neutral);
  text-decoration: underline;
}

.circle {
  position: absolute;
  bottom: -10em;
  right: -12em;
  width: 30em;
  height: 30em;
  border-radius: 100%;
  background-color: var(--clr-secondary);
  opacity: 50%;
}

@media screen and (max-width: 620px) {
.nav-flex{
  display: flex;
  justify-content: space-between;
}
.hambuger .bar{
  display: initial;
  width: 1.7rem;
  height: 1.7rem;
  margin: 0.4rem 0.5rem;
  border: 1.5px solid var(--clr-neutral);
}
.menu-item{
  display: block;
  justify-content: flex-end;
}
.cont-fluid{
    display: block;
  }
  main {
    grid-template-columns: 1fr;
    position: relative;
    height: 100vh;
  }
  
  main form {
    position: absolute;
    justify-self: center;
    align-self: center;
    z-index: 2;
    margin-top: 4em;
    opacity: .9;
    background-color: var(--clr-secondary);
    /* backdrop-filter: blur(20px); */
  }
}