* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  box-sizing: border-box;
}

:root {
    --clr-neutral: #F5F5F5;
    --clr-accent:#CD3301;
    --clr-primary: #DCA422;
    --clr-secondary: #E5B24E;
    --clr-focus: #34A817;
    --padding-main: 10%;
    --padding-min: 1em;
    --padding-btn: 5px 10px;
    --margin-min: 1em;
    --border-radius-btn: 7px;
    --border-radius-card: 10px;
}
  
.sidebar a {
    text-decoration: none;
    color: var(--clr-neutral);
}
li {
    list-style: none;
    border-bottom: thin solid var(--clr-neutral);
    padding-block: 15px;
}
.logo {
    width: 150px;
    margin-bottom: 10px;
}
.logo img {
    width: 100%;
}
body {
    display: flex;
}
.sidebar {
    padding: 50px;
    background-color: var(--clr-primary);
    min-height: 100vh;
    width: 40vw;
}
.sidebar a {
    font-size: .8em;
    /* font-weight: bold; */
}
main {
    width: 100%;
    padding: 50px 150px;
}
header img {
    width: 1em;
}
.home {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin-min);
}
.home a {
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
.search-bar {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border-radius: 50px;
  padding-inline: var(--padding-min);
  background-color: lightgrey;
}
input[type="search"] {
    width: 100%;
    outline: none;
    border: none;
    background-color: lightgrey;
    border-radius: 50px;
    padding: .5em 1.2em;
}

.main-container{
  display: grid;
  margin-top: var(--margin-min);
  gap: var(--margin-min);
}
.welcome-user {
    display: flex;
    align-items: start;
    gap: 1em;

    border-radius: var(--border-radius-card);
    padding: var(--padding-min);
    min-height: 6em;

    background-color: var(--clr-primary);
    color: var(--clr-neutral);
}
.welcome-user img {
    width: 5em;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    border-radius: 10px;
    padding: var(--padding-min);
    min-height: 6em;

    background-color: var(--clr-primary);
    color: var(--clr-neutral);
}
.content-container button {
    outline: none;
    border: none;
    background-color: var(--clr-accent);
    color: var(--clr-neutral);
    padding: var(--padding-btn);
    border-radius: var(--border-radius-btn);
}
.mobile-navbar{
  display: none;
}
.link{
  display: block;
  background-color: var(--clr-accent);
  padding: 0.5rem 1rem;
  border: 0px ;
  border-radius: 20px;
  color: var(--clr-neutral);
  font-weight: bold;
  font-size: 14px;
  width: 100;
  text-decoration: none;
  margin-bottom: 1rem;
}
.link-container{
  margin-top: 1.5rem;
}

/* Mobile View */
@media screen and (max-width: 620px) {
  :root {
    font-size: 12px;
  }
  .sidebar {
    display: none;
  }
  main {
    padding: 20px;
  }

  .sidebar{
    display: none;
  }

  .mobile-navbar{
      display: block;
      width: 100%;
      /* height: 1.2em; */
      position: fixed;
      left: 0%;
      bottom: 0px;
      padding: 0.4rem;
      z-index: 1000;
      background-color: var(--clr-neutral);
  }
  
  .mobile-navbar ul{
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-around;
    align-content: space-around;
    background-color: var(--clr-accent);
    border-radius: 50px;
    /* padding: 0.2rem; */
  }

  .mobile-navbar ul li{
   border-bottom: 0px; 
  }

  .mobile-navbar img {
    width: 1.5em;
  }

 .main-container{
    padding-bottom: 4.5rem;
  }
  
}