*{
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
:root {
  --clr-neutral: #F5F5F5;
  --clr-accent:#CD3301;
  --clr-primary: #DCA422;
  --clr-secondary: #E5B24E;
  --clr-focus: #34A817;
  --padding-main: 10%;
}
.nav{
  background-color: var(--clr-primary);
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
}
.nav-flex{
  display: flex;
  justify-content: space-between;
}
.brand{
  color: var(--clr-neutral);
  text-decoration: none;
  font-weight: bold;
  margin: auto 0rem;
}
.menu-item{
  list-style-type: none;
}
.nav_item{
  padding: 0.5rem 0rem;
}
.nav_link{
  text-decoration: none;
  color: var(--clr-neutral);
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.4rem 1rem;
  text-align: center;
  border: 2px solid var(--clr-neutral);
  border-radius: 5px;
}
.active_link{
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
  border-radius: 5px;
}
.hambuger .bar{
  width: 1.7rem;
  margin: 0.4rem 0.5rem;
  border: 1.5px solid var(--clr-neutral);
}
.cont-main{
  width: 100%;
  padding-inline: var(--padding-main); 
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
  position: relative;
  overflow-x: hidden;
}
.form-wrapper{
  background-color: var(--clr-secondary);
  /* border: 10px solid var(--clr-secondary); */
  border-radius: 5px;
  max-width: 300px;
  position: absolute;
  justify-self: center;
  align-self: center;
  z-index: 2;
  opacity: .9;
  margin-top: 10rem;
  padding: 1.5rem 2rem;
}
.header{
  text-align: center;
  font-weight: bold;
  padding-bottom: 0.5rem;
  color: var(--clr-neutral);
  padding: 0rem;
}
.text{
  text-align: center;
  font-size: 0.9rem;
  color: var(--clr-neutral);
  margin: 0rem;
}
.text a{
  color: var(--clr-neutral);
}
form{
  margin: 1rem 0rem;
}
label{
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--clr-neutral);
}
input{
  width: 100%;
  padding: 0.6rem 0.7rem;
  margin-top: 0.3rem;
  margin-bottom: 0.9rem;
  border: 1px solid var(--clr-neutral);
  border-radius: 3px;
}
.submit{
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  padding: 0.8rem;
  margin: 0.8rem 0rem;
  border-radius: 50px;
  border: 1px solid var(--clr-accent);
  color: var(--clr-neutral);
  background-color: var(--clr-accent);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.19);
}
input:focus{
  outline: none;
  border: 2px solid var(--clr-focus);
}
/* input:invalid{
  border: 2px solid red;
}
input:valid{
  border: 2px solid green;
} */
 
input:placeholder{
  color: grey;
  font-size: 0.9rem;
}
.circle{
  position: absolute;
  bottom: -10em;
  right: -12em;
  width: 30em;
  height: 30em;
  border-radius: 100%;
  background-color: var(--clr-secondary);
  opacity: 50%;
}
.hero-image img {
  width: 100%;
}
@media(min-width: 620px){
  .cont-main{
   grid-template-columns: 1fr 1fr;
   padding: 5rem;
   overflow-y: hidden;
  }
  .form-wrapper{
    position: relative;
    margin: 0rem;
    padding: 1rem 2rem;
    border-radius: 3px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.19);
    grid-column: 1/2;
    opacity: 100%;
  }
  .hero-image img {
    grid-column: 2/2;
  }
  .cont-fluid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .hambuger .bar{
    display: none;
  }
  .nav-flex{
   grid-column: 1/2; 
  }
  .menu-cont{
    grid-column: 4/4;
    padding-top: 0.6rem;
  }
  .menu-item{
    display: flex;
    justify-content: flex-end;
  }
}