*{
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
:root {
  --clr-neutral: #F5F5F5;
  --clr-accent:#CD3301;
  --clr-primary: #DCA422;
  --clr-secondary: #E5B24E;
  --clr-focus: #34A817;
  --clr-grey: grey;
  --padding-main: 10%;
}

header {
  display: grid;
  /* grid-template-rows: minmax( 15vh, 80px); */
  min-height: 80px;
  padding-inline: var(--padding-main);
  background-color: var(--clr-primary);
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  padding-block: 1em;
  /* justify-items: space-between; */
  align-items: center;
  justify-content: space-between;
  /* gap: 1em; */
  font-family: 'Montserrat';
}

.logo {
  width: 100px;
}

nav .logo img {
  width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2em;
  justify-content: end;
  align-items: center;
  text-wrap: nowrap;
}

nav div {
  display: inline-flex;
  justify-self: end;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--clr-neutral);
}

nav div {
  display: flex;
  gap: 1em;
  white-space: nowrap;
  text-wrap: nowrap;
}
nav li a {
  border: 2px solid var(--clr-neutral);
  padding: 10px 30px;
  border-radius: 10px;
}

.active {
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
} 

nav img {
  width: 1em;
}

.hamburger {
  background-color: var(--clr-primary);
  border-radius: 5px;
  padding: 10px;
  display: none;
  gap: 5px;
  align-self: center;
  position: relative;
  z-index: 5;
}

.hamburger div {
  width: 3em;
  height: .3em;
  border-radius: 5px;
  background-color: var(--clr-neutral);
}

.hero-section {
  position: relative;
  padding-inline: var(--padding-main); 
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-text {
  align-self: flex-start;
  padding-top: var(--padding-main);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.hero-text span {
  color: var(--clr-accent);
}

.hero-text p {
  line-height: 1.5em;
}

.hero-image {
  width: 100%;
}

.hero-image img {
  width: 100%;
}

.hero-section button {
  position: relative;
  z-index: 3;
  border: none;
  outline: none;
  border-radius: 5px;
  align-self: flex-start;
  padding: 10px 30px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 10px;
  
  background-color: var(--clr-accent);
  color: var(--clr-neutral);
  box-shadow: 2px 2px 5px 1px rgba(255, 182, 182, 0.594);
}

button img {
  width: 2em;
  /* height: 1em; */
}

.curly-arrow {
  position: relative;
  z-index: 2;
  /* border: thick solid red; */
  width: 70%;
  top: -1em;
}

.curly-arrow img {
  width: 100%;
  transform: rotate(90deg);
  position: absolute;
  z-index: 1;
}

.circle-container {
  overflow-x: hidden;
  width: 15em;
  /* height: 15em; */
  position: absolute;
  top: 30vh;
  right: 0em;
}

.circle {
  width: 30em;
  height: 30em;
  border-radius: 100%;
  background-color: var(--clr-secondary);
  opacity: 50%; 
}


.how-it-works {
  position: relative;
  z-index: 1;
  backdrop-filter: blur(20px);
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-image: url(../images/transparent.png);
}

.skewed {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color:#e5b34e84;
  height: 100vh;
  width: 50vw;
  transform: rotate(150deg);


  z-index: 0;
}

.how-it-works .container {
  min-height:80vh;
  padding: 50px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border-radius: 5px;
  background-color: var(--clr-neutral);
  margin: var(--padding-main);
}

.container-flex {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 1em; */
  justify-content: space-evenly;
  color: var(--clr-neutral);
}

.container h2 {
  text-decoration: underline;
  color: var(--clr-primary);

}

.container-flex div {
  flex-basis: 10em;
  display: flex;
  flex-direction: column;
  /* max-width: 10em; */
  text-align: center;
  border-radius: 5px;
  /* min-height: 20em */

}

.container-flex div:nth-child(1),
.container-flex div:nth-child(3) {
  background-color: var(--clr-secondary);
  padding: 1em;
}

.container-flex div:nth-child(2),
.container-flex div:nth-child(4) {
  padding: 1em;
  color: var(--clr-secondary);
}


.container-flex span {
  background-color: var(--clr-grey);
  border: 3px solid var(--clr-neutral);
  width: 2em;
  height: 2em;
  align-self: center;
  position: relative;
  top: -2em;
  border-radius: 100%;
  color: var(--clr-primary);
  display: grid;
  place-content: center;

}



@media screen and (max-width: 620px) {
  .logo {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: start;
  }

  .hamburger {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    position: fixed;
    top: 25px;
    right: 20%;
  }

  nav ul {
    display: none;
    grid-column-start: 1;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    padding-block: 20px;
  }

  .mobile-nav-list{
    display: flex;
  }

  /* main {
    grid-template-columns: 1fr;
    position: relative;

  
  }
  
  main form {
    position: absolute;
    justify-self: center;
    align-self: center;
    z-index: 2;
    margin-top: 4em;
    opacity: .9;
    background-color: var(--clr-secondary);
    backdrop-filter: blur(20px);
    }*/
  }

