* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: "Montserrat", Sans-Serif;
}
body{
  background: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}